<mat-toolbar color="white" class="header-toolbar" fxLayout="row" fxLayoutAlign="start center">

 
  <!-- <div class="logo-section">
    <img src="https://www.1mg.com/images/tata_1mg_logo.svg" alt=" Vitoxyz" height="30" />&nbsp;&nbsp; &nbsp;
  </div> -->


  <!-- <div class="nav-links" fxLayout="row" fxLayoutGap="24px" style="margin-left: 40px;">
    <a mat-button class="active-link"  (click)="goToMedicines()">MEDICINES</a>
    <a mat-button (click)="goToLabTests()">
      LAB TESTS <span class="badge">SAFE</span>
    </a>
    <a mat-button (click)="goToConsultDoctors()">CONSULT DOCTORS</a>
    <a mat-button (click)="goToCancerCare()">CANCER CARE</a>
    <a mat-button (click)="goToAyurveda()">AYURVEDA</a>
    <a mat-button (click)="goToPartnerships()">PARTNERSHIPS</a>
    <a mat-button (click)="goToCarePlan()">CARE PLAN</a>
  </div> -->
  <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start"
               (selectedIndexChange)="onTabChange($event)"
               style="margin-left: 40px;">
  <mat-tab label="MEDICINES"></mat-tab>
  <mat-tab label="LAB TESTS">
    <ng-template mat-tab-label>
      LAB TESTS <span class="badge">SAFE</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="CONSULT DOCTORS"></mat-tab>
  <mat-tab label="CANCER CARE"></mat-tab>
  <mat-tab label="AYURVEDA"></mat-tab>
  <mat-tab label="PARTNERSHIPS"></mat-tab>
  <mat-tab label="CARE PLAN"></mat-tab>
</mat-tab-group>



  <div class="user-actions" fxLayout="row" fxLayoutGap="16px">
    <a mat-button (click)="goToLogin()">Login</a>
      <div class="divider"></div>

    <a mat-button (click)="goToSignup()">Sign Up</a>
    <a mat-button>Offers</a>
   
<button mat-icon-button [matMenuTriggerFor]="cartMenu" aria-label="Cart menu">
  <mat-icon>shopping_cart</mat-icon>
</button>


<mat-menu #cartMenu="matMenu" class="cart-menu">
  <button mat-menu-item>
    <mat-icon>check_circle</mat-icon>
    <span>Test 1</span>
  </button>
  <button mat-menu-item>
    <mat-icon>assignment</mat-icon>
    <span>Test 2</span>
  </button>
  <button mat-menu-item>
    <mat-icon>favorite</mat-icon>
    <span>Test 3</span>
  </button>
</mat-menu>

    <span class="help-link">Need Help?</span>
  </div>
  <span fxFlex="10"></span>
</mat-toolbar>
