<form [formGroup]="accountForm" class="form-container" (ngSubmit)="onSubmit()">
    <h2>SignUp</h2>


<div class="row">
  <div class="form-field">
   
    <label class="custom-label">First Name</label>

    <mat-form-field appearance="fill" class="full-width">
 
      <mat-label *ngIf="!accountForm.get('firstName')?.value">First Name</mat-label>

      <input matInput formControlName="firstName" required>

      <mat-error
        *ngIf="accountForm.get('firstName')?.hasError('required') && accountForm.get('firstName')?.touched">
        First Name is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <label class="custom-label">Last Name</label>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('lastName')?.value">Last Name</mat-label>

      <input matInput formControlName="lastName" required>

      <mat-error
        *ngIf="accountForm.get('lastName')?.hasError('required') && accountForm.get('lastName')?.touched">
        Last Name is required
      </mat-error>
    </mat-form-field>
  </div>
</div>



<div class="form-field">
  <label class="custom-label">Country</label>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label *ngIf="!accountForm.get('country')?.value">Country</mat-label>
    <mat-select formControlName="country" required>
      <mat-option value="US">United States</mat-option>
      <mat-option value="UK">United Kingdom</mat-option>
      <mat-option value="IN">India</mat-option>
    </mat-select>
    <mat-error *ngIf="accountForm.get('country')?.hasError('required') && accountForm.get('country')?.touched">
      Country Name is required
    </mat-error>
  </mat-form-field>
</div>


<div class="row">
  <div class="form-field">
    <label class="custom-label">Email Address</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('email')?.value">Email Address</mat-label>
      <input matInput type="email" formControlName="email" required>
      <mat-error *ngIf="accountForm.get('email')?.hasError('required') && accountForm.get('email')?.touched">
        Email is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <label class="custom-label">Phone Number</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('phone')?.value">Phone Number</mat-label>
      <input matInput formControlName="phone" required>
      <mat-error *ngIf="accountForm.get('phone')?.hasError('required') && accountForm.get('phone')?.touched">
        Phone Number is required
      </mat-error>
    </mat-form-field>
  </div>
</div>


<div class="row">
  <div class="form-field">
    <label class="custom-label">City</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('city')?.value">City</mat-label>
      <input matInput formControlName="city" required>
      <mat-error *ngIf="accountForm.get('city')?.hasError('required') && accountForm.get('city')?.touched">
        City Name is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <label class="custom-label">Zip/Postal Code</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('zip')?.value">Zip/Postal Code</mat-label>
      <input matInput formControlName="zip">
    </mat-form-field>
  </div>
</div>


<div class="form-field">
  <label class="custom-label">Address</label>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label *ngIf="!accountForm.get('address')?.value">Address</mat-label>
    <input matInput formControlName="address">
  </mat-form-field>
</div>


<div class="row">
  <div class="form-field">
    <label class="custom-label">Skype ID</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('skypeId')?.value">Skype ID</mat-label>
      <input matInput formControlName="skypeId">
    </mat-form-field>
  </div>

  <div class="form-field">
    <label class="custom-label">IB Referral Code</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label *ngIf="!accountForm.get('ibReferralCode')?.value">IB Referral Code</mat-label>
      <input matInput formControlName="ibReferralCode">
    </mat-form-field>
  </div>
</div>


<mat-checkbox formControlName="isIB" (change)="onIBToggle()">Interested in becoming an IB?</mat-checkbox>


<div *ngIf="accountForm.get('isIB')?.value">
  <div class="row">
    <div class="form-field">
      <label class="custom-label">Company Name</label>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label *ngIf="!accountForm.get('companyName')?.value">Company Name</mat-label>
        <input matInput formControlName="companyName">
      </mat-form-field>
    </div>

    <div class="form-field">
      <label class="custom-label">Years Of Experience</label>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label *ngIf="!accountForm.get('experience')?.value">Years Of Experience</mat-label>
        <mat-select formControlName="experience">
          <mat-option value="1-3">1 - 3</mat-option>
          <mat-option value="3-5">3 - 5</mat-option>
          <mat-option value="5+">5+</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="form-field">
      <label class="custom-label">Average Volume Per Month</label>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label *ngIf="!accountForm.get('volume')?.value">Average Volume Per Month</mat-label>
        <input matInput formControlName="volume">
      </mat-form-field>
    </div>

    <div class="form-field">
      <label class="custom-label">No Of Existing Clients</label>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label *ngIf="!accountForm.get('clients')?.value">No Of Existing Clients</mat-label>
        <input matInput formControlName="clients">
      </mat-form-field>
    </div>
  </div>
</div>


<div class="captcha-container">
  <div class="captcha-box">
    <span class="captcha-text">{{ generatedCaptcha }}</span>
    <button mat-icon-button type="button" (click)="refreshCaptcha()" aria-label="Refresh captcha">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div class="form-field">
    <label class="custom-label">Enter Captcha</label>
    <mat-form-field appearance="fill" class="captcha-input">
      <mat-label *ngIf="!accountForm.get('captcha')?.value">Enter Captcha</mat-label>
      <input matInput formControlName="captcha" required>
      <mat-error *ngIf="accountForm.get('captcha')?.hasError('required') && accountForm.get('captcha')?.touched">
        Captcha is required
      </mat-error>
    </mat-form-field>
  </div>
</div>
<button mat-raised-button color="primary" type="submit">Submit</button>
</form>