 <!-- <div class="login-container">
  <div class="left-pane">
   
    <p>Book any test from any lab. We'll collect the sample<br />and send the reports. Save up to 80% every time.</p>

    
    <div class="dots">
      <span></span><span></span><span></span><span class="active"></span><span class="pause">⏸</span>
    </div>
  </div>

  <div class="right-pane">
    <h2>Login</h2>
    <p>Please enter your Mobile number to receive One Time Password (OTP)</p>

    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <label>Enter Mobile Number</label>
      <input
        type="text"
        [(ngModel)]="mobileNumber"
        name="mobileNumber"
        required
      />

      <div class="checkbox">
        <input
          type="checkbox"
          [(ngModel)]="isHealthcareProfessional"
          name="healthcareProfessional"
          id="healthcareProfessional"
        />
        <label for="healthcareProfessional">Are you a healthcare professional?</label>
      </div>

      <button type="submit">Continue</button>
    </form>

     <p class="login-text">Have an account? 
  <a href="#" (click)="goToSignup(); $event.preventDefault()">Sign Up</a>
</p>
    <p class="terms">
      By login, you agree to our
      <a href="#">Terms and Conditions</a> & <a href="#">Privacy Policy</a>
    </p>
  </div>
</div> -->


<div class="login-container">
    
  <div class="left-pane">
    
    <div
      class="carousel-slide"
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === currentSlide"
    >
    
    
      <h3>{{ slide.title }}</h3>
      <p>{{ slide.description }}</p>
    </div>

    <div class="carousel-controls">
      <button (click)="prevSlide()">&#10094;</button>
      <span
        *ngFor="let slide of slides; let j = index"
        [class.active-dot]="j === currentSlide"
      ></span>
      <button (click)="nextSlide()">&#10095;</button>
    </div>
  </div>

  <div class="right-pane">
    <button class="close-button" (click)="closeDialog()">×</button>
    <h2>Login</h2>
    <p>Get access to your orders, lab tests & doctor consultations</p>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <label>Enter Email ID or Mobile Number</label>
      <input
        type="text"
        name="mobileNumber"
        [(ngModel)]="mobileNumber"
        required
      />
      <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
    </form>

    <p class="login-text">New on 1mg? <a href="#" (click)="goToSignup()">Sign Up</a></p>
    <p class="terms">
      By logging in, you agree to our
      <a href="#">Terms and Conditions</a> & <a href="#">Privacy Policy</a>
    </p>
    <a class="help-link" href="#">Need Help? Get In Touch</a>
  </div>
</div>
